.block-animation {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.block-animation .opponent-creatures {
  padding-bottom: 40px;
}

.block-animation .opponent-creatures, .block-animation .your-creatures {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.block-animation .your-creatures {
  justify-content: center;
  padding-top: 1rem;
}
.block-animation .opponent-creatures img, .block-animation .your-creatures img {
  width: 28%;
  border-radius: 4%;
}

.block-animation .opponent-creatures img {
  transform: rotate(180deg);
}

.block-animation .opponent-creatures .scholar {
  transform: rotate(-90deg);
  padding: 0 1rem;
}

.block-animation .your-creatures .bears {
  transform: rotate(90deg);
  z-index: 1;
}

.block-animation .opponent-creatures .duo {
  animation: duo-move 6s ease infinite;
  z-index: 3;
}

.block-animation .opponent-creatures .sprite {
  animation: sprite-move 6s ease infinite;
  z-index: 2;
}

@keyframes duo-move {
  0% {
    transform: rotate(180deg) translate(0, 0);
  }
  10% {
    transform: rotate(180deg) translate(-120px, -120px);
  }
  20% {
    transform: rotate(180deg) translate(0, 0);
  }
  40% {
    transform: rotate(180deg) translate(0, 0);
  }
  50% {
    transform: rotate(180deg) translate(-100px, -95px);
  }
  60% {
    transform: rotate(180deg) translate(-100px, -95px);
  }
  100% {
    transform: rotate(180deg) translate(0, 0);
  }
}

@keyframes sprite-move {
  0% {
    transform: rotate(180deg) translate(0, 0);
  }
  20% {
    transform: rotate(180deg) translate(0, 0);
  }
  30% {
    transform: rotate(180deg) translate(-10px, -120px);
  }
  40% {
    transform: rotate(180deg) translate(0, 0);
  }
  50% {
    transform: rotate(180deg) translate(-10px, -120px);
  }
  60% {
    transform: rotate(180deg) translate(-10px, -120px);
  }
  100% {
    transform: rotate(180deg) translate(0, 0);
  }
}

@media (prefers-reduced-motion) {
  .block-animation .opponent-creatures .duo {
    animation: none;
    transform: rotate(180deg) translate(-90px, -90px);
  }
  .block-animation .opponent-creatures .sprite {
    animation: none;
    transform: rotate(180deg) translate(-10px, -120px);
  }
}
