.main-nav {
  display: flex;
  align-items: center;
  background-color: #78a8e6;
}

.main-nav .home-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FCF5E5;
}

.main-nav .home-logo-link:visited {
  color: #FCF5E5;
}

.main-nav ul {
  margin-left: 1rem;
  display: none;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding: 0;
}

.main-nav .logo {
  height: 3.5rem;
  margin-right: 0.5rem;
}

.home-nav-buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.main-content {
  padding: 0 1rem;
  max-width: 768px;
  margin: auto;
}

.relative-nav-header {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
}

.relative-nav-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.relative-nav-header h2 {
}

@media only screen and (min-width: 768px) {
  .main-nav ul {
    display: flex;
  }
}

.main-footer {
  margin-top: 5rem;
  padding: 0.5rem 1rem 3rem 1rem;
  background-color: #78a8e6;
}

.main-footer p {
  max-width: 768px;
  margin: 0 auto;
}
