.main-layout {
  display: flex;
  flex-flow: column;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  flex-grow: 1;
  box-shadow: 0 2px 5px #0004;
}

.main-nav .home-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--bg-color);
}
.main-nav .home-logo-link h1 {
  margin: 0;
  display: none;
}
.main-nav.home .home-logo-link h1 {
  display: block;
}

.main-nav .home-logo-link:visited {
  color: var(--bg-color);
}

.main-nav .logo {
  height: 3rem;
  aspect-ratio: 1 / 1;
  margin-right: 0.5rem;
}

.main-nav .links {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}
.main-nav.home .links {
  display: none;
}

.main-nav .links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav .links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.main-nav .links li.completed a {
  color: var(--confirm-color);
}
.main-nav .links li.active a {
  color: var(--accent-color);
}

.main-nav .links li a svg {
  width: 1.75rem;
  height: auto;
  margin-right: 0.25rem;
}
.main-nav .links li a span {
  display: none;
}

.main-nav a {
  color: var(--bg-color);
}

.main-nav a:visited {
  color: var(--bg-color);
}

a:has(.large-nav-button) {
  text-decoration: none;
}

.large-nav-button {
  width: 100%;
  font-size: 2rem;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: space-between;
  max-width: var(--col-sm-width);
}

.large-nav-button .inline-icon {
  margin: auto 0 auto 0.5em;
  transition: margin 0.2s ease-out;
  will-change: margin;
}

a:has(.large-nav-button):hover .inline-icon, .large-nav-button:focus .inline-icon {
  margin: auto -0.25em auto 0.75em;
}

.card-image {
  width: 250px;
  aspect-ratio: 5 / 7;
  border-radius: 8px;
}
.card-figure {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 2rem 1rem;
}
.card-figure img {
  margin-bottom: 1rem;
}
.card-figure figcaption {
  color: var(--text-color-alt);
}

.main-footer {
  flex-grow: 1;
  margin-top: 5rem;
  padding: 1.5rem 1rem 1rem 1rem;
  background: var(--primary-color);
  color: white;
}
.main-footer .footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem; 
  color: var(--accent-color);
}
.main-footer .footer-logo img {
  width: 70px;
  display: block;
}
.main-footer .links-section, .main-footer .info-section {
  max-width: var(--desktop-width);
  margin: 0 auto 1rem auto;
}

.main-footer .links-section {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 6rem;
}
.main-footer .links-section ul {
  flex: 0 1 200px;
  margin: 0;
}
.main-footer .links-section ul::before {
  content: attr(title);
  color: var(--accent-color);
  font-size: 1rem;
  display: flex;
  margin-bottom: 0.5rem;
}
.main-footer .links-section ul li {
  padding: 0.5rem 0;
}
.main-footer .links-section a {
  color: white; 
  text-decoration: none;
}

.main-footer .info-section {
  border-top: 1px solid var(--text-color-alt);
  font-size: 0.9rem;
  color: #ccc;
}
.main-footer .info-section a {
  color: var(--link-color);
}
.main-footer .info-section a:visited {
  color: var(--visited-link-color);
}

.main-footer .copyright-info {
  border-top: 1px solid var(--text-color-alt);
  padding-top: 1rem;
  text-align: center;
}

.scroll-tracker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: var(--button-color);
  transform-origin: left;
  z-index: 4;
  transform: translate3d(0, 0, 0);
} 

.animated-layout {
  position: relative;
  min-height: 70vh;
  background-color: var(--bg-color);
}

.animated-layout-content {
  transform-style: preserve-3d;
  transform-origin: 2rem center;
  z-index: 1;
  position: relative;
  padding: 0 1rem;
  padding-bottom: 0.05px;
  background: white;
  max-width: var(--desktop-width);
  margin: 0 auto;
  box-shadow: 0 0 5px grey;
  border-radius: 16px;
  display: flex;
  flex-flow: column;
}

.transition-page-title {
  position: fixed;
  background: var(--bg-color);
  box-shadow: 0 0 10px grey;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding-top: 20vh;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  z-index: 2;
  pointer-events: none;
}

svg.inline-icon {
  display: inline;
  vertical-align: middle;
  margin-right: 0.25rem;
}
.symbol {
  display: inline;
  height: 1.2em;
  vertical-align: middle;
}
.note {
  color: var(--text-color-alt);
}

.two-colors-reminder {
  background: var(--primary-color);
  outline: 3px solid var(--accent-color);
  box-shadow: 0 5px 10px grey;
  font-size: 1.5rem;
  color: var(--accent-color);
  padding: 0.5em 1em;
  letter-spacing: 0;
  line-height: 1.25em;
  border-radius: 0.5rem;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.two-colors-reminder::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 50px;
  height: 200%;
  background: #fff5;
  transform: rotate(45deg);
  animation: shine 4s infinite cubic-bezier(0.76, 0, 0.24, 1); 
}
@keyframes shine {
  0% {
    left: -50%;
  }
  80% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}
.two-colors-reminder strong {
  white-space: pre;
}

.postscript {
  display: inline-block;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--text-color-alt);
  color: var(--text-color-alt);
}

@media only screen and (min-width: 768px) {
  .main-nav .main-nav-content {
    margin: 0.5rem 1rem;
  }
  .main-nav .home-logo-link h1 {
    display: block;
  }
  .main-nav.home .links {
    display: flex;
  }
  .main-nav .links li a svg {
    width: 1.5rem;
  }
  .main-nav .links li a span {
    display: inline;
  }
  .main-nav ul {
    display: flex;
  }

  .main-footer {
    margin-top: 8rem;
  }
}
