.main-layout {
  display: flex;
  flex-flow: column;
  position: relative;
}

.main-nav {
  align-items: center;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 0.5rem;
}

.main-nav-content {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #800000aa;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 0.5rem;
  flex-grow: 1;
  transform: translate3d(0, 0, 0);
}

.main-nav .home-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--bg-color);
}

.main-nav .home-logo-link:visited {
  color: var(--bg-color);
}

.main-nav ul {
  margin-left: 1rem;
  display: none;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding: 0;
}

.main-nav .logo {
  height: 3.5rem;
  margin: 0 0.5rem;
}

.main-nav a {
  color: var(--bg-color);
}

.main-nav a:visited {
  color: var(--bg-color);
}

.home-nav-buttons .large-nav-button {
  margin-bottom: 1rem;
}

.main-content {
  max-width: 768px;
  margin: 0 auto;
}

.relative-nav-header {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
}

.relative-nav-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.home-layout {
  display: grid;
  grid-template-rows: 80svh 1fr;
}

.home-layout .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-layout .hero .large-nav-button {
  font-size: 3rem;
}

.large-nav-button {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-footer {
  flex-grow: 1;
  margin-top: 5rem;
  padding: 8rem 1rem 4rem 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.9rem;
}

.main-footer p {
  max-width: 768px;
  margin: 0 auto 1rem auto;
}

.main-footer a {
  color: var(--link-color);
}

.main-footer a:visited {
  color: var(--visited-link-color);
}

.animated-layout {
  perspective: 800;
  transform-style: preserve-3d;
  transform-origin: left;
  padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
  .main-nav .main-nav-content {
    margin: 0.5rem 1rem;
  }

  .main-nav ul {
    display: flex;
  }

  .main-footer {
    margin-top: 8rem;
  }
}
