.main-layout {
  display: flex;
  flex-flow: column;
}

.main-nav {
  display: flex;
  align-items: center;
  background-color: #78a8e6;
}

.main-nav .home-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FCF5E5;
}

.main-nav .home-logo-link:visited {
  color: #FCF5E5;
}

.main-nav ul {
  margin-left: 1rem;
  display: none;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding: 0;
}

.main-nav .logo {
  height: 3.5rem;
  margin: 0 0.5rem;
}

.home-nav-buttons .large-nav-button {
  margin-bottom: 1rem;
}

.main-content {
  padding: 0 1rem;
  max-width: 768px;
  margin: 0 auto;
}

.relative-nav-header {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
}

.relative-nav-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.large-nav-button {
  width: 100%;
  text-align: center;
  color: #FCF5E5;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-footer {
  flex-grow: 1;
  margin-top: 5rem;
  padding: 8rem 1rem 4rem 1rem;
  background-color: #78a8e6;
  color: white;
  font-size: 0.8rem;
}

.main-footer p {
  max-width: 768px;
  margin: 0 auto 1rem auto;
}

@media only screen and (min-width: 768px) {
  .main-nav ul {
    display: flex;
  }

  .main-footer {
    margin-top: 8rem;
  }
}
