.grid-explainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  margin: 0 auto 2rem auto;
  align-items: start;
  max-width: 550px;
}

.grid-display {
  position: sticky;
  top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 3px;
}

.grid-display .grid-card {
  background: #aaa;
  width: 50px;
  aspect-ratio: 5/7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

