:root {
  --bg-color: #FCF5E5;
  --primary-color: maroon;
  --accent-color: gold;
  --text-color: #121248; 
  --text-color-alt: #777; 
  --confirm-color: #24C650;
  --button-color: #ffa633;
  --button-text-color: white;
  --link-color: #5CCAFF;
  --visited-link-color: #1D8CCE;
  --col-sm-width: 450px;
}

html, body {
  overflow-x: clip;
}

body {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
  background: var(--bg-color);
  min-height: 100svh;
  color: var(--text-color);
}

p {
  line-height: 1.5em;
  margin-bottom: 2em;
  letter-spacing: 0.03em;
  word-spacing: 0.03em;
}

a:has(button) {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  background-image: radial-gradient(100% 100% at 100% 0, var(--accent-color) 0, var(--button-color) 100%);
  color: var(--button-text-color);
  border: 1px solid #ddd;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: border 0.3s ease-out;
  box-sizing: border-box;
  transition: background-image 0.3s ease;
  will-change: background-image;
}

q {
  display: block;
  margin: 0 auto 2rem auto;
  width: fit-content;
  text-align: center;
  font-size: 1.3em;
  color: var(--text-color-alt);
}

.card {
  border-radius: 10px;
}

.main-layout {
  min-height: 100svh;
}

.mb-1 {
  margin-bottom: 1rem;
}
