:root {
  --bg-color: #FCF5E5;
  --primary-color: maroon;
  --accent-color: gold;
  --text-color: #121248; 
  --text-color-alt: #777; 
  --confirm-color: #63C132;
  --button-color: #ffa633;
  --button-text-color: white;
  --link-color: #5CCAFF;
  --visited-link-color: #1D8CCE;
}

html, body {
  overflow-x: clip;
}

body {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
  background: var(--bg-color);
  min-height: 100svh;
  color: var(--text-color);
}

p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.03rem;
  word-spacing: 0.03rem;
}

a:has(button) {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: var(--button-color);
  color: var(--button-text-color);
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: outline 0.3s ease-in;
}

button:hover, button:focus {
  outline: 2px solid grey;
}

.card {
  border-radius: 10px;
}

.main-layout {
  min-height: 100svh;
}
