.page-header {
  width: min(100%, 500px);
  margin: 0 auto;
  padding-top: 1em;
  display: block;
}

.page-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.page-header .page-header-card {
  width: calc(100% - 2.5rem);
  padding: 0.5rem 0.25rem 1rem 0.25rem;
  margin: 0;
  border-radius: 1rem;
  border: double 1rem transparent;
  background-image: linear-gradient(#fff6ea, #fff6ea),
    linear-gradient(0deg, transparent, transparent 1rem, black 3rem, black);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.page-header-card .page-header-card-title,
.page-header-card .page-header-card-subtitle {
  background: #faebd7;
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  border: 3px solid #fbc783;
  box-shadow: inset -2px 2px #fffaf4, inset 2px -2px #b39978;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.page-header-card .page-header-card-subtitle {
  color: #555;
  border-width: 1px;
  font-size: 0.7rem;
  justify-content: center;
}

.page-header-card .page-header-card-image {
  display: block;
  background: linear-gradient(-45deg, #fff8, #aaa6, #fff8);
  width: calc(100% - 1rem);
  aspect-ratio: 626 / 457;
  margin: 0 0.5rem;
}
