.welcome-page .card-image {
  width: 100%;
  aspect-ratio: 5 / 7;
  max-width: 250px;
  margin: auto;
  display: block;
}

.welcome-page h3 {
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 1rem 0;
}
